<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-barcodescan" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<name>BarCodeScanPlugin</name>
	
    <js-module name="BarCodeScanPlugin" src="www/BarCodeScanPlugin.js">
		<clobbers target="BarCodeScanPlugin" />
	</js-module>
	
    <platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="BarCodeScanPlugin">
				<param name="android-package" value="cordova.plugin.barcodescan.BarCodeScanPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/BarCodeScanPlugin.java" target-dir="src/cordova/plugin/barcodescan/BarCodeScanPlugin" />
	</platform>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="BarCodeScanPlugin">
				<param name="ios-package" value="BarCodeScanPlugin" />
			</feature>
		</config-file>
		<source-file src="src/ios/BarCodeScanPlugin.m" />
	</platform>
</plugin>